
body {
	background: #00285e url('../img/pepsi-water-drops.jpg') no-repeat;
	background-size: cover;
	margin: 0;
}
.content {
	margin: 2em auto;
	text-align: center;
	height: 38em;
}
.circle {
	margin: 0 auto;
	position: relative;
	color: #fff;
	border-radius: 50%;
	height: 18em;
	width: 18em;
	z-index: 1;
	display: block;
	text-align: center;
}
.circle-content {
	display: table-cell;
	vertical-align: middle;
	height: 18em;
	width: 18em;
	padding: 1em;
}
.red-circle {
	background-color: #eb1d39;
	left: -7em;
}
.white-circle {
	background-color: #fff;
	color: #000;
	top: -8em;
	left: 7em;
	z-index: 2;
}
.blue-circle {
	background-color: #005891;
	left: -7em;
	top: -16em;
}
#quizProgress {
	list-style-type: none;
}
#quizProgress > li {
	color: #000;
	display: inline-block;
	height: 1.3em;
	width: 1.3em;
	padding: 0 ;
	margin: 0 .25em;
	background-color: #fff;
	border-radius: 50%;
	overflow: hidden;
}
#question1,
#question2,
#question3,
#question4,
#question5
{
	display: none;
}
form label {
	color: white;
}
[type="radio"]:not(:checked)+label:before {
	border-color: white;
}
form p {
	margin-left: 25%;
}
footer.page-footer {
	text-align: center;
	background-color: #eceff1;
}
